@{
    ViewData["Title"] = "Home Page";
}

<button id="new-task" type="button" class="btn btn-primary">Nueva tarea</button>
<div class="text-center">
    <h1 class="display-4">Tareas</h1>
    <div id="error-message-home" class="" role="alert"></div>
    <table id="table-list" class="hover" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulos</th>
                <th>Descripcion</th>
                <th>Fecha de Expiracion</th>
                <th>Estatus</th>
            </tr>
        </thead>
    </table>
</div>